.code-accordion {
    code {
        div {
            padding: 10px 20px;
        }
    }
}

.serie-link {
    a {
        color: #b5bd68 !important;
    }
    .serie-index {
        font-weight: bold;
        color: #bda968 !important;
    }
}